<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Lockin</string>
	<key>CFBundleDisplayName</key>
	<string>Lockin</string>
	<key>CFBundleIdentifier</key>
	<string>com.tejasdua.lockin</string>
	<key>CFBundleExecutable</key>
	<string>Lockin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Lockin keeps your browser on the tab you locked.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.tejasdua.lockin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lockin</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
